/* AddExam.css */
.add-exam-container {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f3f2f2; /* Light background color */
}

.exam-form .form-group {
    margin-bottom: 15px;
}

.exam-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.exam-form input,
.exam-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    display: inline-block;
    width: 100%;
    padding:10px 6px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
    background-color:#007bff;
    transform: translateY(-3px);
}

.header {
    text-align: center;
}
