.form-container {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.form-group,
.option-group {
    margin-bottom: 15px;
}

.form-group label,
.option-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: calc(100% - 22px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-checkbox {
    margin-left: 10px;
}

.add-option-button,
.submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-option-button:hover,
.submit-button:hover {
    background-color: #0056b3;
}

.submit-button {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 1rem;

}

.head{
    text-align: center;
}